//Borde a la imagenes
.carousel-item img.product_detail_img {
    border: 2px solid #ccc;   
    border-radius: 15px;      
}

.carousel-indicators li {
  border: 2px solid #ccc !important;   /* borde gris */
  border-radius: 10px;      /* esquinas redondeadas */
}
