//Borde a la imagenes
.carousel-item img.product_detail_img {
    border: 2px solid #ccc;   
    border-radius: 15px;      
}

.carousel-indicators li {
    border: 2px solid #ccc !important;   
    border-radius: 10px;  
    padding: 4px !important;    
}
