.d-flex.align-items-center.justify-content-center.h-100.oe_unmovable.position-relative {
  border: 2px solid #ccc;   
  border-radius: 15px;               
}


// .carousel-item img.product_detail_img {
//   border: 2px solid #ccc;   
//   border-radius: 15px;      
// }
