#myCollapse {
  border: 1px solid #ccc;   
  padding: 0;          
}

// Sección de marca 
/* Ocultar atributos simples originales debajo del Add to Cart */
#product_attributes_simple {
    display: none !important;
}
.o_wsale_product_page #product_details .d-flex.align-items-center.gap-3 {
    display: none !important;
}
// Sección de descripción
#wrap.o_wsale_product_page .tp-product-details-tab,
#wrap.o_wsale_product_page .nav.nav-tabs.justify-content-center {
    display: none !important;
}

