.s_simple_accordion {
    .sa_header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 12px;
        background: #f5f5f5;
    }

    .sa_body {
        display: none;
        padding: 12px;
        border: 1px solid #eee;
    }

    .sa_item.open .sa_icon {
        transform: rotate(45deg);
    }
}


/* Contenedor del cuadro */
.description-box {
    border: 1px solid #ccc;   /* borde gris claro */
    padding: 10px;
    border-radius: 4px;
}

/* Textarea con borde gris */
.description-textarea {
    border: 1px solid #ccc;   /* borde gris */
    resize: vertical;         /* permite ajustar altura */
}
