// #myCollapse {
//   border: 1px solid #ccc;   
//   padding: 0;          
// }

// /* Ocultar atributos originales*/
// // Sección de marca 
// #product_attributes_simple {
//     display: none !important;
// }
// .o_wsale_product_page #product_details .d-flex.align-items-center.gap-3 {
//     display: none !important;
// }
// // Sección de descripción
// #wrap.o_wsale_product_page .nav.nav-tabs.justify-content-center a[href="#tp-product-description-tab"] {
//     display: none !important;
// }

// //Estilo para los acordeones
// /* Estilos personalizados para las características del producto */
// #accordionCustomAttributes {
//   .accordion-body {
//     .d-flex {
//       img {
//         height: 20px;   
//         width: auto;
//         margin-right: 6px; 
//       }

//       span {
//         font-size: 0.9rem; 
//       }
//     }
//     .col-6 {
//       padding-left: 0.5rem;
//       padding-right: 0.5rem;
//     }
//   }
// }

// .titulo-naranja {
//     color: orange !important;
// }

// //Apartado de precio del producto
// .precio-texto {
//     font-size: 18px;      
//     font-weight: bold;   
//     color: orange !important;        
// }

// // Apartado de add to card
// #add_to_cart {
//   border-radius: 8px;  
// }

// // Contador 
// .css_quantity {
//   border: none !important;        
//   background-color: none;  
//   box-shadow: none;             
// }

// .css_quantity a.btn-link {
//   background-color: #e0e0e0;   
//   border: 1px solid #ccc;
//   border-radius: 8px !important;          
//   margin: 0 4px;              
//   padding: 6px 12px;
// }

// .css_quantity input.quantity {
//   background-color: #fff;      
//   border: 1px solid #ccc;
//   border-radius: 8px !important;          
//   text-align: center;
//   width: 60px;
//   margin: 0 4px;              
// }

// //Descargar Ficha Tecnica
// .tp-product-details-tab .nav-tabs {
//   border: none !important;       // elimina el borde inferior del contenedor de pestañas
// }

// .tp-product-details-tab .nav-tabs .nav-link {
//   border: none !important;       // elimina los bordes de cada pestaña
// }

// .tp-product-details-tab .nav-tabs .nav-link.active {
//   border: none !important;       // elimina el borde de la pestaña activa
//   background-color: transparent; // mantiene el fondo limpio
// }

// //Ocultar apartdo de categorias en vista grid
// .tp-category-pill-container {
//   display: none !important;   // oculta el bloque
// }

