#myCollapse {
  border: 1px solid #ccc;   
  padding: 0;          
}

/* Ocultar atributos originales*/
// Sección de marca 
#product_attributes_simple {
    display: none !important;
}
.o_wsale_product_page #product_details .d-flex.align-items-center.gap-3 {
    display: none !important;
}
// Sección de descripción
#wrap.o_wsale_product_page .nav.nav-tabs.justify-content-center a[href="#tp-product-description-tab"] {
    display: none !important;
}

//Estilo para los acordeones
/* Estilos personalizados para las características del producto */
#accordionCustomAttributes {
  .accordion-body {
    .d-flex {
      img {
        height: 20px;   
        width: auto;
        margin-right: 6px; 
      }

      span {
        font-size: 0.9rem; 
      }
    }
    .col-6 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

.titulo-naranja {
    color: orange !important;
}

//Apartado de precio del producto
.precio-texto {
    font-size: 18px;      
    font-weight: bold;   
    color: orange !important;        
}

// Apartado de add to card
#add_to_cart {
  border-radius: 8px;  
}

// Contador 
.o_wsale_product_quantity {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;   // borde alrededor del bloque
  border-radius: 8px;       // bordes redondeados
  overflow: hidden;
  margin-top: 10px;         // separación respecto al resto
  width: fit-content;

  input[type="number"] {
    border: none;
    text-align: center;
    width: 60px;
    font-weight: bold;
  }

  .btn-minus,
  .btn-plus {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;     // bordes redondeados en los botones
    margin: 0 4px;          // ligera separación entre ellos
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e0e0e0;
    }
  }
}

