#myCollapse {
  border: 1px solid #ccc;   
  padding: 0;          
}

/* Ocultar atributos originales*/
// Sección de marca 
#product_attributes_simple {
    display: none !important;
}
.o_wsale_product_page #product_details .d-flex.align-items-center.gap-3 {
    display: none !important;
}
// Sección de descripción
#wrap.o_wsale_product_page .tp-product-details-tab,
#wrap.o_wsale_product_page .nav.nav-tabs.justify-content-center {
    display: none !important;
}

//Estilo para los acordeones
/* Estilos personalizados para las características del producto */
#accordionCustomAttributes {
  .accordion-body {
    .d-flex {
      img {
        height: 20px;   
        width: auto;
        margin-right: 6px; 
      }

      span {
        font-size: 0.9rem; 
      }
    }
    .col-6 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

/* ---------- Imagen principal ---------- */
.o_wsale_product_images {
    border: 1px solid #dee2e6; 
    border-radius: 12px;
    padding: 8px;
}

/* Evita que la imagen sobresalga del borde */
.o_wsale_product_images .carousel-inner {
    border-radius: 10px;
    overflow: hidden;
}

/* ---------- Thumbnails ---------- */
.o_carousel_product_indicators {
    overflow: visible !important;
}

.o_carousel_product_indicators li {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 4px;
}

/* Imagen dentro del thumbnail */
.o_carousel_product_indicators li img {
    border-radius: 6px;
}
