#myCollapse {
  border: 1px solid #ccc;   
  padding: 0;          
}

/* Ocultar atributos originales*/
// Sección de marca 
#product_attributes_simple {
    display: none !important;
}
.o_wsale_product_page #product_details .d-flex.align-items-center.gap-3 {
    display: none !important;
}
// Sección de descripción
#wrap.o_wsale_product_page .nav.nav-tabs.justify-content-center a[href="#tp-product-description-tab"] {
    display: none !important;
}


//Estilo para los acordeones
/* Estilos personalizados para las características del producto */
#accordionCustomAttributes {
  .accordion-body {
    .d-flex {
      img {
        height: 20px;   
        width: auto;
        margin-right: 6px; 
      }

      span {
        font-size: 0.9rem; 
      }
    }
    .col-6 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

//Apartado de precio del producto
.precio-texto {
    font-size: 18px;      
    font-weight: bold;   
    color: orange !important;        
}

.oe_price, .oe_currency_value {
    font-weight: bold;
    color: orange !important;
}

