.s_shop_offer_hot {
  .shop-offer-hot-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
  }

  .text-content {
    text-align: left;
  }

  .action-button {
    align-self: flex-start;
  }

  @media (min-width: 768px) {
    .shop-offer-hot-wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: start;
    }

    .text-content {
      text-align: start;
    }

    .action-button {
      align-self: center;
    }
  }
}
