.key-images-wrapper {
    background: #ffffff;
    border: 3px solid #ff8c00; 
    border-radius: 14px;
    padding: 30px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

/* Tamaño de imágenes del snippet Key Images */
.s_key_images_2 {
    .key-img {
        max-width: 60px !important;
        max-height: 60px !important;
        object-fit: contain !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
