.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    width: 60px !important;       /* ancho del botón */
    height: 60px !important;      /* alto del botón */
}

/*Para estilos del filtro de productos*/
.o_carousel_product_card {
  border-radius: 6px;
  background-color: #ffff; // equivalente a Bootstrap bg-light
  border: 1px solid
}
