/* Centrar verticalmente los botones del carrusel respecto a la imagen */
.s_cover_1 .carousel-control-prev,
.s_cover_1 .carousel-control-next {
  top: 50%;                  
  transform: translateY(-50%); 
  bottom: auto;              
  height: 40px;              
  width: 40px;               
}
