@media (min-width: 992px) {
    #wrapwrap > header {
        // Header
        .tp-header-box {
            padding-top: 25px !important;
            .tp-account-info {
                .my_cart_quantity {
                    top: -15px !important;
                    left: 20px !important;
                }
            }
        }

        // Menu
        > .navbar {
            #top_menu {
                > .nav-item {
                    > a.nav-link {
                        &:before {
                            background-color: #FF931E !important;
                        }
                    }
                }
            }
        }
    }
}



.tp-custom-carousel.s_carousel {
    .carousel-indicators:not(.s_carousel_indicators_dots) {
        button {
            &.active, &:hover {
                background-color: #FF931E !important;
            }
        }
    }
    .carousel-indicators.s_carousel_indicators_dots {
        button {
            &.active, &:hover {
                background-color: #FF931E !important;
            }
        }
    }
}

// Google Maps

/* Estilo para cada ítem de la lista de locales */
#localList .list-group-item {
    border-radius: 20px;                 
    background-color: var(--bs-primary); 
    color: black;                         
    margin-bottom: 8px;                  
    padding: 10px 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: none;                        
}

/* Efecto hover tipo botón hundido */
#localList .list-group-item:hover {
    transform: translateY(2px);          
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    background-color: var(--bs-primary); 
}

.city-select-custom {
  border-radius: 6px; 
}


.s_map {
    position: relative;
    min-height: 100px;

    // Ajustamos el contenedor del mapa
    .map_container {
        position: relative !important;   
        height: 400px;                   // altura fija
        width: 100%;                     // ancho solo de la columna
        max-width: 800px;                
        margin: 0 auto;                  
    }

    iframe.s_map_embedded {
        height: 100% !important;         
        width: 100% !important;
        border-radius: 6px;              
    }

    .s_map_color_filter {
        position: absolute !important;
        pointer-events: none;
        top: 0; left: 0; right: 0; bottom: 0;
    }
}