.tp-product-image-container {
    position: relative;
}
.tp-product-image-container .secondary-image {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.tp-product-image-container:hover .secondary-image {
    opacity: 1;
}
