.s_banner_2 {
    .tp-block-wrapper {
        .tp-block-container {
            background-size: contain !important;
            transform: none !important;
            -webkit-transform: none !important;
            -webkit-transition: none !important;
            transition: opacity none !important;
        }
    }
}