.o_form_view_custom_stock .o_field_widget[name="total_peso"] {
    font-weight: bold !important;
    font-size: 18px !important;
}

.o_form_view_custom_stock label[for="total_peso"] {
    font-weight: bold !important;
    opacity: 1 !important;
    color: #000 !important;
    font-size: 18px !important;
}