/* Estilos exclusivos para Footer - 11 */
.template_footer_style_11 {
  @media (min-width: 992px) {
    .justify-content-lg-end {
      -webkit-box-pack: end !important;
      /* justify-content: flex-end !important; */
    }
  }
}
