.template_footer_style_11 {
  /* Logo */
  .o_footer_logo {
    display: flex;
    justify-content: center; 
    img {
      max-height: 60px;
    }
  }

  /* Apartados en móvil: Información útil, Ayuda y Contacto */
  #footer_info_util,
  #footer_ayuda,
  #footer_contacto {
    text-align: left !important; /* siempre orientados a la izquierda en móvil */
  }

  @media (min-width: 992px) {

    #footer_contacto {
      text-align: left; /* contenido orientado a la izquierda */
      display: flex;
      flex-direction: column;
      align-items: flex-end; /* bloque alineado a la derecha */
    }
  }
}
