/** @odoo-module **/

.s_map {
    position: relative;
    min-height: 100px;

    // Ajustamos el contenedor del mapa
    .map_container {
        position: relative !important;   
        height: 400px;                   // altura fija
        width: 100%;                     // ancho solo de la columna
        max-width: 800px;                
        margin: 0 auto;                  
    }

    iframe.s_map_embedded {
        height: 100% !important;         
        width: 100% !important;
        border-radius: 6px;              
    }

    .s_map_color_filter {
        position: absolute !important;
        pointer-events: none;
        top: 0; left: 0; right: 0; bottom: 0;
    }
}
