/* Estilo para las cards */
.o_carousel_product_card_body {
    width: 100%;
    text-align: center;
    padding: 15px;
}
.o_carousel_product_card {
    border: 1px solid #ddd;       
    border-radius: 16px;          
    overflow: hidden;             
    background-color: #ffff;      
}

.o_carousel_product_card_body {
    background-color: #fff;   
    border-radius: 0 0 16px 16px; 
    padding: 15px;
    width: 100%;
    text-align: center;
}

.o_carousel_product_card_body .text-muted.small {
    align-self: flex-start;   
    text-align: left;         
    width: 100%;              
}

/* Nombre del producto */
.o_carousel_product_card_body .card-title {
    text-align: left;         
    width: 100%;                   
}

///////////////////////////////////////////
@media (max-width: 768px) {
    .s_dynamic_snippet_image_aside {
        display: flex;
        flex-direction: row;       /* imagen a la izquierda, texto a la derecha */
        align-items: center;
    }

    .s_dynamic_snippet_image_aside img {
        max-width: 100px;          /* tamaño reducido en móvil */
        margin-right: 10px;        /* espacio entre imagen y texto */
    }
}


