/* Estilo para las cards */
.o_carousel_product_card_body {
    width: 100%;
    text-align: center;
    padding: 15px;
}
.o_carousel_product_card {
    border: 1px solid #ddd;       
    border-radius: 16px;          
    overflow: hidden;             
    background-color: #ffff;      
}

.o_carousel_product_card_body {
    background-color: #fff;   
    border-radius: 0 0 16px 16px; 
    padding: 15px;
    width: 100%;
    text-align: center;
}

.o_carousel_product_card_body .text-muted.small {
    align-self: flex-start;   
    text-align: left;         
    width: 100%;              
}

/* Nombre del producto */
.o_carousel_product_card_body .card-title {
    text-align: left;         
    width: 100%;                   
}

//Version mobil para apartado de imagen
@media (max-width: 767px) {
  .s_dynamic_snippet_image_only img {
    max-width: 100px !important; 
    height: auto;               
  }
}
// Versión mobil para el carrucel de producto tempalte style 2
@media (max-width: 767px) {
  .dynamic_filter_template_product_product_style_2 .s_dynamic_snippet_row .col-6 {
    flex: 0 0 100%;   /* ocupa todo el ancho */
    max-width: 100%;  /* asegura que no se divida en dos */
  }
}




