/* Estilos exclusivos para el snippet Cover - 6 */
.s_cover_6 {
  .img-web {
    display: block !important;
    height: 300px;       /* altura fija para web */
    object-fit: cover;
  }

  .img-mobile {
    display: none !important;
  }

  @media (max-width: 767px) {
    .img-web {
      display: none !important;
    }

    .img-mobile {
      display: block !important;
      width: 100%;
      height: auto;       /* se adapta a su proporción */
      object-fit: contain; /* mostrar completa sin recortar */
    }
  }
}
