/* Centrar logo en header móvil */
.o_header_mobile [data-name="Navbar Logo"] {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.o_header_mobile [data-name="Navbar Logo"] img {
  display: inline-block; /* asegura que la imagen se centre dentro del span */
}

//Texto blanco 
p.h6.mb-0 {
  color: #ffffff;          
}

.my_cart_quantity.badge {
  font-size: 1.2rem !important;  
}

