/* CONTENEDOR DEL BUSCADOR */
.o_searchbar_form,
.tp-search-input {
    position: relative;
}

/* INPUT */
.tp-search-input {
    position: relative;
    z-index: 2;
    background: transparent;
}

/* PLACEHOLDER FALSO */
.tp-fake-placeholder {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    pointer-events: none;
    z-index: 1;
    transition: opacity .3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ocultar al escribir */
.tp-search-input:focus + .tp-fake-placeholder,
.tp-search-input:not(:placeholder-shown) + .tp-fake-placeholder {
    opacity: 0;
}

/* ========================= */
/* EFECTOS */
/* ========================= */

/* Arriba-Abajo */
.up_down {
    animation: upDown 2s infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(calc(-50% - 3px));
    }

    50% {
        transform: translateY(calc(-50% + 3px));
    }

    100% {
        transform: translateY(calc(-50% - 3px));
    }
}

/* Abajo-Arriba */
.down_up {
    animation: downUp 2s infinite;
}

@keyframes downUp {
    0% {
        transform: translateY(calc(-50% + 3px));
    }

    50% {
        transform: translateY(calc(-50% - 3px));
    }

    100% {
        transform: translateY(calc(-50% + 3px));
    }
}

/* Fade */
.fade {
    animation: fadeAnim 2.5s infinite;
}

@keyframes fadeAnim {
    0%,100% {
        opacity: .3;
    }

    50% {
        opacity: 1;
    }
}

/* Bounce */
.bounce {
    animation: bounceAnim 1.4s infinite;
}

@keyframes bounceAnim {
    0%,20%,50%,80%,100% {
        transform: translateY(-50%);
    }

    40% {
        transform: translateY(calc(-50% - 6px));
    }

    60% {
        transform: translateY(calc(-50% - 3px));
    }
}